@import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css?family=Comfortaa:300&display=swap');
@import url('https://fonts.googleapis.com/css?family=Comfortaa:700&display=swap');



#about_me {
    body {
        background-color: rgb(0, 0, 0);

        div .dropbtn {
            right: 0;
            }
            .dropbtn {
            right: 0;
            background-color: rgb(255, 255, 255);
            color: rgb(0, 0, 0);
            padding: 16px;
            font-size: 16px;
            border: none;
            cursor: pointer;
            }
            .dropdown {
            position: relative;
            display: inline-block;
            margin-left: 85%;
            margin-top: 2%;
            
            }
            .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            opacity: 0.80;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
            }
            .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
            }
            .dropdown-content a:hover {
            background-color: rgb(255, 203, 203);
            }
            .dropdown:hover .dropdown-content {
            display: block;
            }
            .dropdown:hover .dropbtn {
            background-color: #ffffff;
            }

        h1 {
            font-family: 'Permanent Marker', cursive;
            color: white;
            font-size: 6.5em;
            margin-left: 20%;
            margin-top: 0;
        }
        h3 {
            color: rgb(255, 203, 203);
            font-size: 30px;
            font-family: 'Comfortaa', cursive;
            font-weight: 700;
        }
        p {
            // width: 80%;
            // margin-left: 5%;
            color: rgb(255, 203, 203);
            font-family: 'Comfortaa', cursive;
        }
        .flex_box1 { 
            display: flex;    
            justify-content: space-between;
            flex-direction: row;
            flex-wrap: wrap;
            article {
                width: 100%;
                top: -5%;
                margin-left: 5%; 
                
            }
            .right_collumn {
                width: 100%;
                text-align: center; 
                .image_container img {
                        width: 70%;
                        height: auto;
                        border: 15px white solid;
                        border-bottom: 70px white solid;
                        }
            }

        }
        
        ul {
            margin-left: 5%;
            color: rgb(255, 203, 203);
            font-family: 'Comfortaa', cursive;
            line-height: 2em;
        }
        span {
            font-weight: 700;
        }  
      
    .likes_icons {
            text-align: center;
            margin: 5%;
        }
    .circle_icons {
            width: 128px;
        }
    }
    .mail_resume {
        margin-top: 1%;
        margin-left: 5%;
        text-align: center;
    }
    .email_resume_text {
        text-align: center;
    }
    footer {
        color: rgb(255, 203, 203);
        font-family: 'Comfortaa', cursive;
        text-align: center;
        margin-top: 10%;
        }
}

@media screen and (min-width: 900px) {
    #about_me body .flex_box1 { 
        flex-wrap: nowrap;
        article {
            width: 50%;
            
        }
        .right_collumn {
            width: 50%;
        }
    }
}


    
